<link rel="stylesheet" href="~/css/site.css" />
<h2>Products</h2>
@if (ViewBag.products.Count > 0)
{
    <table class="custom-table">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Product Number</th>
            <th>Order</th>
        </tr>
        @foreach (var product in ViewBag.products)
        {
            <tr>
                <td>@product.Title</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Id</td>
                <td>
                    <form action="/product/get/one/info/@product.Id" method="get">
                        <input class="order-button" type="submit" value="Order" />
                    </form>
                </td>
            </tr>
        }
    </table>
}
